body {
box-sizing: border-box;
  font-family: Georgia, serif;
  text-align: center;
  background: #4763c6;
  color: #dd930b;
}
 

.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  max-width: 648px;
  margin: 0 auto;
}
 
/* each card, with the letter centered */
.card {
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background: white;
  border: 4px solid #dd930b;
  border-radius: 8px;
  cursor: pointer;
}
 